{% extends 'base.html' %}
{% load static %}
{% block title %} cart {% endblock title %}
{% block content %}

<table class="cart">
    <thead>
        <tr>
            <th>Image</th>
            <th>Product</th>
            <th>Quantity</th>
            <th>Remove</th>
            <th>Unit price</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        {% for item in cart %}
        {% with product=item.product %}
        <tr>
            <td>
                <a href="{{ product.get_absolute_url }}">
                    <img src="{{ product.image.url}}" />
                </a>
            </td>
            <td>{{ product.name }}</td>
            <td>
                <div class="quantity">
                    <div class="plus">&plus;</div>
                    <div>{{ item.quantity }}</div>
                    <div class="minus">&#8722;</div>
                </div>
            </td>
            <td>
                <form action="{% url 'cart:remove' %}" method="post">
                    {% csrf_token %}
                    <input type="submit" value="Remove" class="danger">
                    <input type="hidden" name="product_id" value="{{product.pk}}">
                </form>
            </td>
            <td class="num">${{ item.price }}</td>
            <td class="num">${{ item.total_price }}</td>
        </tr>
        {% endwith %}
        {% endfor %}
        <tr class="total">
            <td>Total</td>
            <td colspan="4"></td>
            <td class="num total-price">${{ cart.get_total_price }}</td>
        </tr>
    </tbody>
</table>
{% endblock content %}


{% block js %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{% static 'js/cart.js' %}"></script>
{% endblock js %}