{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'cart.css' %}?{% now 'U' %}">
<title>cart</title>
{% endblock head %}
{% block content %}
{% include 'inc/nav.html' %}
<div class="cart">
    <div class="price">
        <div>
            <div>
                <div>Products price:</div>
                <div>${{ cart.get_total_price }}</div>
            </div>
            <div>
                <div>Price payable:</div>
                <div>${{ cart.get_total_price }}</div>
            </div>
        </div>
        <div>
            <a href="" class="checkout">Checkout</a>
        </div>
    </div>
    <div class="container">
        <div class="products">
            {% for item in cart %}
            {% with product=item.product %}
            <div class="product">
                <div class="cover">
                    <a href="{{ product.get_absolute_url }}">
                        <img src="{{ product.image.url}}" />
                    </a>
                </div>
                <div class="info">
                    <div>
                        <span>{{ product.name }}</span>
                    </div>
                    <div class="options">
                        <ul>
                            {% for options in product.options.all %}
                            <li>{{options.opt}}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="quantity">
                        <div class="plus">&plus;</div>
                        <div>{{ item.quantity }}</div>
                        <div class="minus">&#8722;</div>
                    </div>
                    <form action="{% url 'cart:remove' %}" method="post">
                        {% csrf_token %}
                        <input type="submit" value="Remove" class="danger alert">
                        <input type="hidden" name="product_id" value="{{product.pk}}">
                    </form>
                    <div>
                        <span>${{ item.total_price }}</span>
                    </div>
                </div>
            </div>
            {% endwith %}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}


{% block js %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{% static 'js/cart.js' %}"></script>
{% endblock js %}