{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'product-detail.css' %}?{% now 'U' %}">
<title>{{product.name}}</title>
{% endblock head %}

{% block content %}
{% include 'inc/nav.html' %}
<div class="detail-product">
    <!-- detial product -->
    <div class="product">
        <div class="info">
            <h1>{{product.name}}</h1>
            <p>{{product.description}}</p>
        </div>
        <!-- options -->
        <div class="options">
            {% for options in product.options.all %}
            <div><span>{{options.opt}}</span></div>
            {% endfor %}
        </div>
        <!-- image -->
        <div class="image">
            <img src="{{product.image.url}}" alt="">
        </div>
        <!-- categories -->
        <div class="categories">
            {% for category in product.category.all %}
            <div class="tag">
                <a href="{% url 'product:pr_ct_list' category.name %}">
                    <div class="opt alert">{{category.name}}</div>
                </a>
            </div>
            {% endfor %}
        </div>
        <!-- check if product avalble -->
        {% if not product.available %}
        <p class="danger alert">The product is not available </p>
        {% endif %}
        <!-- add tocart -->
        <div class="add-to-cart">
            <button id="add-to-cart" class="secondary alert">Add to cart</button>
        </div>
    </div>
    <!-- similar posts -->
    <div class="similar-product">
        <div class="products p-box">
            <div class="title-box">
                <span>Similar Posts</span>
            </div>
            <div class="boxes">
                {% for product in similar_posts %}
                <a href="{% url 'product:detail' pk=product.pk slug=product.slug %}">
                    <div class="product box-hover">
                        <div><img src="{{product.image.url}}" alt=""></div>
                        <div>
                            <h4>{{product.name}}</h4>
                            <div>
                                {% if product.discount %}
                                <div>
                                    <p class="price">{{product.discount}}</p>
                                    <p class="line-through p-s">{{product.price}}</p>
                                </div>
                                {% else %}
                                <p class="price">{{product.price}}</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<div class="message alert">
    <div class="close">&times;</div>
    <div class="message-time"></div>
</div>
{% endblock content %}

{% block js %}
{{ product.id |json_script:"product_id" }}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{% static 'js/cart.js' %}"></script>
<script src="{% static 'js/message.js' %}"></script>
<script src="{% static 'js/app.js' %}"></script>
{% endblock js %}