{% extends 'base.html' %}

{% block title %}
{{product.name}}
{% endblock title %}

{% block content %}
<div class="detail-product">
    <div class="product">
        <h2>{{product.name}}</h2>
        <p>{{product.description}}</p>
        <!-- options -->

        <div class="options">
            {% for options in product.options.all %}
            <div><span>{{options.opt}}</span></div>
            {% endfor %}
        </div>

        <!-- categories -->
        <div class="categories">
            {% for category in product.category.all %}
            <div class="category opt"><span>{{category.name}}</span></div>
            {% endfor %}
        </div>

        <!-- check if product avalble -->
        {% if product.available %}
        <p class="success">The product is available </p>
        {% else %}
        <p class="danger">The product is not available </p>
        {% endif %}

        <img src="{{product.image.url}}" alt="">
        <div class="add-to-cart">
            <a href="{% url 'cart:add' pk=product.pk%}">Add to cart</a>
        </div>
    </div>
</div>
{% endblock content %}