{% extends 'base.html' %}
{% load static %}
{% load custom_tags %}

{% block head %}
<link rel="stylesheet" href="{% static 'product-list.css' %}?{% now 'U' %}">
<link rel="stylesheet" href="{% static 'product.css' %}?{% now 'U' %}">
<title>{{category}}</title>
{% endblock head %}


{% block content %}
<header>
    {% include 'inc/nav.html' %}
</header>
<div class="products-container">
    <div class="products p-box pr-list">
        <div class="title-box">
            <span>Last Product</span>
        </div>
        <div class="boxes">
            {% for product in products %}
            <a href="{% url 'product:detail' pk=product.pk slug=product.slug %}">
                <div class="product box-hover">
                    {% if product.image %}
                    <div><img src="{{product.image.url}}" alt=""></div>
                    {% endif %}
                    <div>
                        <h2>{{product.name|slice:":50"}}</h2>
                    </div>
                    <div>
                        {% if product.discount %}
                        <div>
                            <p class="price">{{product.discount | price}}</p>
                            <p class="line-through p-s">{{product.price | price}}</p>
                        </div>
                        {% else %}
                        <p class="price">{{product.price | price}}</p>
                        {% endif %}
                    </div>
                </div>
            </a>
            {% endfor %}
        </div>
    </div>
    <div class="filters">
        <div class="title-box">
            <span>Filter</span>
        </div>
        <div class="filter-box">
            <div class="filter opt alert">
                <a href="{% url 'product:product_list' category=category %}?sort_by=price&order=desc">Expensive</a>
            </div>
            <div class="filter opt alert">
                <a href="{% url 'product:product_list' category=category %}?sort_by=price&order=asc">Inexpensive</a>
            </div>
            <div class="filter opt alert">
                <a href="{% url 'product:product_list' category=category %}?filter=recommend">Recommended</a>
            </div>
            <div class="filter opt alert">
                <a href="{% url 'product:product_list' category=category %}?sort_by=discount_peresen&order=desc">Most
                    discounts</a>
            </div>
            <div class="filter opt alert">
                <a href="{% url 'product:product_list' category=category %}?sort_by=price&order=asc">Bestsellers</a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
{% block js %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{% static 'js/receiveobjbyscroll.js' %}"></script>
<script src="{% static 'js/app.js' %}"></script>
{% endblock js %}