{% extends 'base.html' %}
{% load static %}

{% block title %}
{{category}}
{% endblock title %}


{% block content %}
<header>
    {% include 'inc/nav.html' %}
</header>
<div class="products-container">
    <div class="products p-box pr-list">
        <div class="title-box">
            <span>Last Product</span>
        </div>
        <div class="boxes">
            {% for product in products %}
            <a href="{% url 'product:detail' pk=product.pk slug=product.slug %}">
                <div class="product box-hover">
                    {% if product.image %}
                    <div><img src="{{product.image.url}}" alt=""></div>
                    {% endif %}
                    <div>
                        <h2>{{product.name}}</h2>
                    </div>
                </div>
            </a>
            {% endfor %}
        </div>
    </div>
    <div class="filters">
        <div class="filter">
                <span class="opt">filter by price</span>
            <div><a href="{% url 'product:product_list' query %}?sort_by=price&order=asc">the most expensive</a></div>
            <div><a href="{% url 'product:product_list' query %}?sort_by=price&order=desc">cheapest</a></div>
        </div>
    </div>
</div>
{% endblock content %}
{% block js %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{% static 'js/receiveobjbyscroll.js' %}"></script>
{% endblock js %}