{% extends 'base.html' %}

{% block title %}
{{category}}
{% endblock title %}


{% block content %}
<header>
    {% include 'inc/nav.html' %}
</header>
<div class="container">
    <div class="category-tag">
        <h3>{{category}}</h3>
    </div>
    <div class="products p-box">
        <div class="title-box">
            <span>Last Product</span>
        </div>
        <div class="boxes">
            {% for product in products %}
            <a href="{% url 'product:detail' pk=product.pk slug=product.slug %}">
                <div class="product box-hover">
                    <div><img src="{{product.image.url}}" alt=""></div>
                    <div>
                        <h2>{{product.name}}</h2>
                    </div>
                </div>
            </a>
            {% endfor %}
        </div>
    </div>
</div>


{% endblock content %}