{% extends 'base.html' %}
{% load static %}
{% load custom_tags %}
{% block head %}
<link rel="stylesheet" href="{% static 'style.css' %}?{% now 'U' %}">
<link rel="stylesheet" href="{% static 'dashboard.css' %}?{% now 'U' %}">
<title>dashboard</title>
{% endblock head %}

{% block content %}
<!-- message -->

{% if messages %}
<ul class="messages">
    <div class="close">&times;</div>
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
        {% endfor %}
</ul>
{% endif %}

<!-- header -->
<header>
    {% include 'inc/nav.html' %}
</header>
<!-- content -->
<div class="container">
    {% if profile == None %}
    <div class="title-box">
        add profile
    </div>
    <div class="create-profile box">
        <form action="{% url 'user:profile_create' %}" method="post">
            {% csrf_token %}
            {{form.as_p}}
            <input type="submit" value="Create">
        </form>
    </div>
    {% else %}
    <div class="title-box">
        your information
    </div>
    <div class="info box">
        <div><span>name :</span> <span>{{profile.name}}</span></div>
        <div><span>phone :</span> <span>{{profile.phone_number}}</span></div>
        <div><span>state :</span> <span>{{profile.state}}</span></div>
        <div><span>city :</span> <span>{{profile.city}}</span></div>
        <div><span>Address:</span>
            <Address>{{profile.address}}</Address>
        </div>
    </div>
    <div class="title-box">
        edit information
    </div>
    <div class="edit-profile box">
        <form action="{% url 'user:edit_profile' pk=profile.pk%}" method="post">
            {% csrf_token %}
            {{form.as_p}}
            <input type="submit" value="Edit">
        </form>
    </div>
    <div class="title-box">
        your factors
    </div>
    <div class="factors">
        {% for order in orders %}
        <div class="order box">
            <span>for :</span> <span>{{order.user_info.name}}</span>
            <div class="products">
                {% for product in order.products.all %}
                <div class="product">
                    <span>name :</span> <a href="{{product.get_absolute_url}}">{{product.name}}</a>
                </div>
                {% endfor %}
            </div>
            <div class="price">
                <span>price paid :</span> <span>{{order.price_paid | price}}</span>
            </div>
            <div><span>Address:</span>
                <Address>{{profile.address}}</Address>
            </div>
            <div class="code">
                <span>tracking code :</span> <span>{{order.trackingcode}}</span>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}
</div>
{% endblock content %}