{% extends 'registration/base.html' %}

{% block title %}
Login
{% endblock title %}

{% block content %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
        {% endfor %}
</ul>
{% endif %}
<div class="form">
    <form method="post">
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit">Login</button>
    </form>
    <div>
        <p>do you have not any account?<a href="{% url 'user:signup' %}">sign up</a></p>
    </div>
</div>

{% endblock content %}