{% extends 'base.html' %}
{% load static %}
{% load custom_tags %}
{% block head %}
<link rel="stylesheet" href="{% static 'style.css' %}?{% now 'U' %}">
<link rel="stylesheet" href="{% static 'orders.css' %}?{% now 'U' %}">
<title>orders</title>
{% endblock head %}
{% block content %}
<!-- nav -->
<header>
    {% include 'inc/nav.html' %}
</header>
{% csrf_token %}
<div class="container">
    <div class="content">
        <div class="orders">
            {% for obj in filter %}
            <div class="order" id="{{obj.pk}}">
                <div class="user">
                    <div><span>user name :</span> {{obj.user_info.name}}</div>
                    <div class="address">
                        <span>Address:</span>
                        <Address>"{{obj.user_info.state}}" , "{{obj.user_info.city}}" ,{{obj.user_info.address}}
                        </Address>
                    </div>
                </div>
                <div class="products">
                    {% for product in obj.products.all %}
                    <div class="product">
                        <a href="{{product.get_absolute_url}}">{{product.name}}</a>
                    </div>
                    {% endfor %}
                    <div class="price">
                        <span>price paid :</span> <span>{{obj.price_paid | price}}</span>
                    </div>
                    <div class="code">
                        <span>tracking code :</span> <span>{{obj.trackingcode}}</span>
                    </div>
                </div>
                <div class="date">
                    <span>{{obj.create}}</span>
                </div>
                <div class="btns">
                    <div class="verify">
                        {% if obj.confirm %}
                        <button class="opt alert status" title="This order has been approved">Reject</button>
                        {% else %}
                        <button class="opt alert status" title="This order has not been approved yet">Confirme</button>
                        {% endif %}
                    </div>
                    <div class="send">
                        {% if obj.post %}
                        <button class="opt alert post" title="This order has been posted">Posted</button>
                        {% else %}
                        <button class="opt alert post" title="This order has not been posted yet">Post</button>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
            <div class="pagination">
                <span class="step-links">
                    {% if filter.has_previous %}
                    <a href="{% if '?' in request.get_full_path %}
                    {{ request.get_full_path }}&page=1
                    {% else %}
                    {{ request.get_full_path }}?page=1
                    {% endif %}">&laquo; first</a>
                    <a href="{% if '?' in request.get_full_path %}
                    {{ request.get_full_path }}&page={{filter.previous_page_number}}
                    {% else %}
                    {{ request.get_full_path }}?page={{filter.previous_page_number}}
                    {% endif %}">previous</a>
                    {% endif %}
                    <span class="current">
                        Page {{ filter.number }} of {{ filter.paginator.num_pages }}.
                    </span>
                    {% if filter.has_next %}
                    <a href="{% if '?' in request.get_full_path %}
                    {{ request.get_full_path }}&page={{filter.next_page_number}}
                    {% else %}
                    {{ request.get_full_path }}?page={{filter.next_page_number}}
                    {% endif %}">next</a>
                    <a href="{% if '?' in request.get_full_path %}
                    {{ request.get_full_path }}&page={{filter.paginator.num_pages}}
                    {% else %}
                    {{ request.get_full_path }}?page={{filter.paginator.num_pages}}
                    {% endif %}">last
                        &raquo;</a>
                    {% endif %}
                </span>
            </div>
        </div>
    </div>
    <div class="filters">
        <div class="title-box">filtering:</div>
        <div class="filter">
            <form method="get">
                {{ form.as_p }}
                <input type="submit" class="alert" value="submit" />
            </form>
        </div>
        <div class="title-box">ordering:</div>
        <a href="
        {% if '?' in request.get_full_path %}
            {{ request.get_full_path }}&order=true&order_type=create&base=ascending
        {% else %}
        {{ request.get_full_path }}?order=true&order_type=create&base=ascending
        {% endif %}
            ">Date(ascending):</a>
        <a href="{% if '?' in request.get_full_path %}
        {{ request.get_full_path }}&order=true&order_type=create&base=descending
        {% else %}
        {{ request.get_full_path }}?order=true&order_type=create&base=descending
        {% endif %}">Date(descending):</a>
    </div>
</div>
{% endblock content %}

{% block js %}
<script src="{% static 'js/orders.js' %}"></script>
{% endblock js %}