/* nav */
nav {
  display: flex;
  justify-content: space-between;
  box-shadow: 0 0 23px 0 #bdbdbd;
  padding: 20px;
}

nav > div:last-child {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav a {
  color: #9b9b9b;
  font-size: 17px;
}

nav a:hover {
  color: black;
}

.search {
  margin-right: 20px;
}

nav .search input[type="search"] {
  border: 1px solid #27c28c;
  outline: none;
  padding: 5px;
  border-radius: 5px;
}

<<<<<<< HEAD

.cart-logo {

=======
.cart-logo {
>>>>>>> 293b6fada0862aa791f00f17795cec64794aed76
  display: flex;
  align-items: center;
}

<<<<<<< HEAD



.cart-logo img {

=======
.cart-logo img {
>>>>>>> 293b6fada0862aa791f00f17795cec64794aed76
  width: 27px;
}

.cart-btn {
  position: relative;
}

.cart-btn span {
  position: absolute;
  top: -15px;
  border-radius: 6px;
  color: #fff;
  background-color: #ee3f55;
  height: 20px;
  min-width: 20px;
  text-align: center;
  right: -15px;
}

.result {
  padding-right: 12px;
  box-shadow: 0px 2px 9px 0px #c1c1c1;
  margin: 10px;
}

.result > a > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.result > a > div > div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.result img {
  width: 100px;
}

@media only screen and (max-width: 350px) {
  nav {
    display: block;
  }
  .logo {
    margin-bottom: 10px;
    text-align: center;
  }
}
