.p-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 0;
}

.product {
  text-align: center;
  margin: 20px;
  width: 200px;
}

.product img {
  width: 200px;
  height: 200px;
  object-fit: contain;
}

.product .categories {
  display: flex;
}

.boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.boxes > a > div {
  margin: 10px 20px;
  box-shadow: 0 0 3px 1px #d5d2d2;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.categoreis-boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.category {
  text-align: center;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  margin: 10px 20px;
  box-shadow: 0 0 15px 0px #ccc;
}

.category img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: contain;
}

@media only screen and (max-width: 800px) {
  .boxes > a > div {
    width: 150px;
    height: 250px;
  }
  .product img {
    width: 150px;
    height: 150px;
  }
}

@media only screen and (max-width: 500px) {
  .boxes > a > div {
    width: 100px;
    height: 170px;
  }
  .product img {
    width: 100px;
    height: 100px;
  }
}