.content {
  display: flex;
  align-items: baseline;
  padding: 50px 30px;
}

.detail-product {
  display: flex;
  flex: 70%;
  flex-direction: column;
}

.detail-product > .product {
  flex: 70%;
}

.detail-product > .product > div {
  margin-bottom: 20px;
}

.info {
  color: #707070;
}

.detail-product > .product > .image {
  width: 500px;
}

.detail-product > .product > .image img {
  width: 500px;
  height: 100%;
}

.similar-product {
  flex: 30%;
}

.categories {
  display: flex;
}

.similar-product .product img {
  width: 100px;
  height: 100px;
  object-fit: contain;
}

.boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.boxes > a {
  margin: 10px 0;
}

.price-b {
  margin: 10px;
}

.similar-product .product {
  height: 100%;
  width: 100px;
  margin: 10px;
  box-shadow: 0 0 3px 1px #d5d2d2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.title-box {
  margin-right: 5px;
}

@media only screen and (max-width: 850px) {
  .detail-product {
    flex-direction: column;
    align-items: center;
  }
  .product {
    margin-left: 0px;
  }
  .title-box {
    margin: 10px;
  }
}

@media only screen and (max-width: 550px) {
  .detail-product {
    margin-top: 0px;
  }
  .detail-product > .product > .image,
  .detail-product > .product > .image img {
    width: 100%;
  }
  .product {
    padding: 5px;
  }
}

@media only screen and (max-width: 808px) {
  .content {
    flex-direction: column;
    align-items: center;
  }
}