* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: black;
  text-decoration: none;
}

.message {
  position: fixed;
  top: 0;
  left: 0;
  width: 700px;
  display: none;
}

.close {
  font-size: 30px;
  cursor: pointer;
}

input[type="submit"],
button {
  border: none;
  outline: none;
  cursor: pointer;
}

.secondary {
  background-color: #e2e3e5;
  color: #41464b;
  padding: 5px;
  border-radius: 5px;
  margin: 10px;
}

.opt {
  background-color: #cfe2ff;
  color: #2242a4;
  padding: 5px;
  border-radius: 5px;
  margin: 10px;
}

.success {
  background-color: #d1e7dd;
  color: #2b5734;
  padding: 5px;
  border-radius: 5px;
  margin: 10px;
}

.danger {
  background-color: #f8d7da;
  color: #842029;
  padding: 5px;
  border-radius: 5px;
  margin: 10px;
}

.d-i {
  display: inline-block;
}

.box-hover:hover {
  box-shadow: 0 0 28px 2px #d1c6cc;
}

/* nav */
nav {
  display: flex;
  justify-content: space-between;
  box-shadow: 0 0 23px 0 #bdbdbd;
  padding: 20px;
}

nav a {
  margin: 0 10px;
  color: #9b9b9b;
  font-size: 17px;
}

nav a:hover {
  color: black;
}

nav .search input[type="search"] {
  border: none;
  outline: none;
  padding: 5px;
}
/* products */
.p-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px;
}

.container .product {
  text-align: center;
  margin: 20px;
}

.product img {
  width: 200px;
  height: 200px;
  object-fit: contain;
}

.product .categories {
  display: flex;
}

.boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.boxes > a > div {
  margin: 10px 20px;
  box-shadow: 0 0 15px 0px #ccc;
}

.category {
  text-align: center;
}

.category img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: contain;
}

/* cart */

.cart {
  box-shadow: 0 0 25px 1px #ccc;
  padding: 5px;
  width: 800px;
  margin: 50px auto;
}

.cart img {
  width: 100px;
}

.cart tr {
  text-align: center;
}

.cart tbody {
  margin: 20px 0;
}

.cart th,
.cart td {
  padding: 15px;
}

.cart tr:hover {
  box-shadow: 0 0 25px 1px #ccc;
}

.quantity {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.plus,
.minus {
  font-size: 20px;
  cursor: pointer;

  padding: 10px;
  border-radius: 5px;
}
.plus:hover,
.minus:hover {
  box-shadow: 0 0 25px 1px #ccc;
}

/* detail-product */
.detail-product {
  display: flex;
  justify-content: space-between;
  margin: 25px 0;
}

.detail-product > .product {
  flex: 70%;
  margin-left: 25px;
}

.detail-product > .product > .image img {
  width: 500px;
  height: 100%;
}


.detail-product > .similar-product {
  flex: 30%;
}

.similar-product > .p-box {
  margin: 0;
}

.similar-product .product img {
  width: 100px;
  height: 100px;
  object-fit: contain;
}
