* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fredoka", sans-serif;
}

a {
  color: black;
  text-decoration: none;
}

.alert {
  padding: 5px;
  border-radius: 5px;
  margin: 10px;
}

.message {
  position: fixed;
  top: 0;
  left: 0;
  width: 700px;
  display: none;
  background-color: #f9e6e6;
  padding: 12px;
}

.message-time {
  width: 600px;
  height: 2px;
  background-color: #cf203a;
  margin: 2px 0px 10px 0;
}
.close {
  font-size: 30px;
  cursor: pointer;
}

input[type="submit"],
button {
  border: none;
  outline: none;
  cursor: pointer;
}

.secondary {
  background-color: #e2e3e5;
  color: #41464b;
}

.opt {
  background-color: #cfe2ff;
  color: #2242a4;
}

.success {
  background-color: #d1e7dd;
  color: #2b5734;
}

.danger {
  background-color: #f8d7da;
  color: #842029;
}

.d-i {
  display: inline-block;
}

.box-hover:hover {
  box-shadow: 0 0 10px 1px #c2c2c2;
}

.line-through {
  text-decoration: line-through;
}

.p-s {
  font-size: 12px;
  color: #41464bb0;
  padding: 5px;
}

.item-box {
  background-color: #3b3bbc;
  padding: 5px;
  border-radius: 5px;
  color: #fff;
}

.title-box {
  background: #f7de3a;
  border-radius: 6px;
  padding: 5px;
  color: #664d03;
  margin-bottom: 12px;
}

.popup {
  width: 100%;
  height: 100%;
  background-color: #fff;
  position: fixed;
  top: 100%;
  transition: 0.8s;
  overflow: scroll;
  padding-bottom: 100px;
  margin: 30px 0;
}

.close-popup {
  font-size: 40px;
  cursor: pointer;
  margin-left: 10px;
  display: none;
  z-index: 1;
  position: relative;
}
