{% extends 'base.html' %}

{% block title %}
home
{% endblock title %}


{% block content %}
<header>
    {% include 'inc/nav.html' %}
</header>
<div class="container">
    <div class="products p-box">
        <div class="title-box">
            <span>Last Product</span>
        </div>
        <div class="boxes">
            {% for product in products %}
            <a href="{% url 'product:detail' pk=product.pk slug=product.slug %}">
                <div class="product box-hover">
                    <div><img src="{{product.image.url}}" alt=""></div>
                    <div>
                        <h2>{{product.name}}</h2>
                        <div>
                            <p>{{product.price}}</p>
                        </div>
                    </div>
                </div>
            </a>
            {% endfor %}
        </div>
    </div>
    <!-- recommends -->
    <div class="products p-box">
        <div class="title-box">
            <span>Recommends Products</span>
        </div>
        <div class="boxes">
            {% for product in recommends %}
            <a href="{% url 'product:detail' pk=product.pk slug=product.slug %}">
                <div class="product box-hover">
                    <div><img src="{{product.image.url}}" alt=""></div>
                    <div>
                        <h2>{{product.name}}</h2>
                        <div>
                            <p>{{product.price}}</p>
                        </div>
                    </div>
                </div>
            </a>
            {% endfor %}
        </div>
    </div>
    <!--  -->
    <div class="products p-box">
        <div class="title-box">
            <span>Bestsellers Products</span>
        </div>
        <div class="boxes">
            {% for product in bestsellers %}
            <a href="{% url 'product:detail' pk=product.pk slug=product.slug %}">
                <div class="product box-hover">
                    <div><img src="{{product.image.url}}" alt=""></div>
                    <div>
                        <h2>{{product.name}}</h2>
                        <div>
                            <p>{{product.price}}</p>
                        </div>
                    </div>
                </div>
            </a>
            {% endfor %}
        </div>
    </div>
    <!-- categories -->
    <div class="categoreis p-box">
        <div class="title-box">
            <span>Categoreis</span>
        </div>
        <div class="boxes">
            {% for category in product_categories %}
            <a href="{% url 'product:pr_ct_list' category.name %}">
                <div class="category box-hover">
                    <div><img src="{{category.image.url}}" alt=""></div>
                    <div><span>{{category.name}}</span></div>
                </div>
            </a>
            {% endfor %}
        </div>
    </div>
</div>


{% endblock content %}