{% extends 'base.html' %}

{% block title %}
home
{% endblock title %}


{% block content %}
<div class="container">
    <div class="products">
        {% for product in products %}
        <a href="{% url 'product:detail' pk=product.pk slug=product.slug %}">
            <div class="product box-hover">
                <div><img src="{{product.image.url}}" alt=""></div>
                <div>
                    <h2>{{product.name}}</h2>
                </div>
            </div>
        </a>
        {% endfor %}
    </div>
    <div class="categoreis">
        <div class="title-box">
            <span>categoreis</span>
        </div>
        <div class="boxes">
            {% for category in product_categories %}
            <a href="">
                <div class="category box-hover">
                    <div><img src="{{category.image.url}}" alt=""></div>
                    <div><span>{{category.name}}</span></div>
                </div>
            </a>
            {% endfor %}
        </div>
    </div>
</div>
<a href="{% url 'cart:index' %}">cart</a>

{% endblock content %}