{% load custom_tags %}
<nav>
    <div class="logo">
        <a href="/" class="">home</a>
    </div>
    <div>
        {% if request.user.is_authenticated %}
        <a href="{% url 'user:logout' %}">log out</a>
        <a href="{% url 'user:dashboard' request.user.username %}">dashboard</a>
        {% else %}
        <a href="{% url 'user:login' %}">log in</a>
        {% endif %}
    </div>
    <div>
        <div class="search">
            <input type="search" name="query" id="search" placeholder="search..." />
        </div>

        <div class="cart-box">

            <div class="cart-logo">

                <a href="{% url 'cart:index' %}" class="cart-btn">
                    <div>
                        <img
                            src="https://img.icons8.com/external-obivous-color-kerismaker/48/000000/external-cart-ecommerce-color-obivous-color-kerismaker.png" />
                    </div>
                    {% if request.session.cart|length > 0 %}
                    <span class="cart-count">{{request.session.cart | counter}}</span>
                    {% else %}
                    <span class="cart-count">0</span>
                    {% endif %}
                </a>
            </div>
        </div>
</nav>
<div class="close-popup">&times;</div>