<nav>
    <div class="logo">
        <a href="/" class="">home</a>
    </div>
    <div>
        <div class="search">
            <input type="search" name="query" id="search" placeholder="search..." />
        </div>
        <div class="cart">
            <a href="{% url 'cart:index' %}" class="cart-btn">
                <div>
                    <img
                        src="https://img.icons8.com/external-obivous-color-kerismaker/48/000000/external-cart-ecommerce-color-obivous-color-kerismaker.png" />
                </div>
                {% if request.session.cart|length > 0 %}
                <span class="cart-count">{{request.session.cart_counter}}</span>
                {% endif %}
            </a>
        </div>
    </div>
</nav>